  
<h1>Add a rating</h1>
<%# /movies/:movie_id/reviews( %>

<%= render partial: 'form', locals: {rating: @recipes_ingredients, url:new_recipe_recipes_ingredient(@recipe), recipe:@recipe}%>
<%# <form action= movie_reviews_path(@movie) method ="post"> %>